src/main/java/xmlsources/NaspInputExample_Aspen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NaspInputData" type="NaspInputData"/>
  <xs:complexType name="Aligner">
    <xs:sequence>
      <xs:element name="AdditionalArgs">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="-r all"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="JobParameters" name="JobParameters"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="path" use="optional"/>
  </xs:complexType>
  <xs:complexType name="VCFFolder">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="path"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Picard">
    <xs:sequence>
      <xs:element type="xs:string" name="AdditionalArgs"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="path"/>
  </xs:complexType>
  <xs:complexType name="ReadFolder">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="path"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MatrixGenerator">
    <xs:sequence>
      <xs:element type="xs:string" name="AdditionalArgs"/>
      <xs:element type="JobParameters" name="JobParameters"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="path"/>
  </xs:complexType>
  <xs:complexType name="AssemblyFolder">
    <xs:sequence>
      <xs:element type="Assembly" name="Assembly"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="path"/>
  </xs:complexType>
  <xs:complexType name="AssemblyImporter">
    <xs:sequence>
      <xs:element type="xs:string" name="AdditionalArgs"/>
      <xs:element type="JobParameters" name="JobParameters"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="path"/>
  </xs:complexType>
  <xs:complexType name="Reference">
    <xs:sequence>
      <xs:element type="xs:string" name="FindDups"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="path"/>
  </xs:complexType>
  <xs:complexType name="NaspInputData">
    <xs:sequence>
      <xs:element type="Options" name="Options"/>
      <xs:element type="Files" name="Files"/>
      <xs:element type="ExternalApplications" name="ExternalApplications"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Options">
    <xs:sequence>
      <xs:element type="xs:string" name="OutputFolder"/>
      <xs:element type="xs:string" name="RunName"/>
      <xs:element type="Reference" name="Reference"/>
      <xs:element type="Filters" name="Filters"/>
      <xs:element type="xs:string" name="JobSubmitter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Samtools">
    <xs:sequence>
      <xs:element type="xs:string" name="AdditionalArgs"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="path"/>
  </xs:complexType>
  <xs:complexType name="Assembly">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="sample"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AlignmentFolder">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="path"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BamIndex">
    <xs:sequence>
      <xs:element type="xs:string" name="AdditionalArgs"/>
      <xs:element type="JobParameters" name="JobParameters"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="path"/>
  </xs:complexType>
  <xs:complexType name="DupFinder">
    <xs:sequence>
      <xs:element type="xs:string" name="AdditionalArgs"/>
      <xs:element type="JobParameters" name="JobParameters"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="path"/>
  </xs:complexType>
  <xs:complexType name="JobParameters">
    <xs:sequence>
      <xs:element name="MemRequested">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="45"/>
            <xs:enumeration value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NumCPUs">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Walltime">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="4"/>
            <xs:enumeration value="48"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="36"/>
            <xs:enumeration value="24"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Queue" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="hmem"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="JobSubmitterArgs" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ExternalApplications">
    <xs:sequence>
      <xs:element type="Index" name="Index"/>
      <xs:element type="BamIndex" name="BamIndex"/>
      <xs:element type="MatrixGenerator" name="MatrixGenerator"/>
      <xs:element type="Picard" name="Picard"/>
      <xs:element type="Samtools" name="Samtools"/>
      <xs:element type="DupFinder" name="DupFinder"/>
      <xs:element type="AssemblyImporter" name="AssemblyImporter"/>
      <xs:element type="Aligner" name="Aligner" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="SNPCaller" name="SNPCaller" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Files">
    <xs:sequence>
      <xs:element type="ReadFolder" name="ReadFolder"/>
      <xs:element type="AssemblyFolder" name="AssemblyFolder"/>
      <xs:element type="AlignmentFolder" name="AlignmentFolder"/>
      <xs:element type="VCFFolder" name="VCFFolder"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SNPCaller">
    <xs:sequence>
      <xs:element name="AdditionalArgs">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="-stand_call_conf 100 -stand_emit_conf 100"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="JobParameters" name="JobParameters"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="path" use="optional"/>
  </xs:complexType>
  <xs:complexType name="Filters">
    <xs:sequence>
      <xs:element type="xs:string" name="CoverageFilter"/>
      <xs:element type="xs:string" name="ProportionFilter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Index">
    <xs:sequence>
      <xs:element type="xs:string" name="AdditionalArgs"/>
      <xs:element type="JobParameters" name="JobParameters"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="path"/>
  </xs:complexType>
</xs:schema>